<div class="main">
  <section class="module bg-dark-60 blog-page-header" data-background="<%= image_url 'blog_bg.jpg' %>">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Blog Grid</h2>
          <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like
            these sweet mornings of spring which I enjoy with my whole heart.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="row post-masonry post-columns">
            <% @blogs.each do |blog| %>
              <div class="col-md-6 col-lg-6">
                <div class="post">
                  <div class="post-thumbnail">
                    <%= link_to blog do %>
                      <%= image_tag blog.image_url %>
                    <% end %>
                    </a>
                  </div>
                  <div class="post-header font-alt">
                    <h2 class="post-title">
                      <%= link_to blog do %>
                        <%= blog.title %>
                      <% end %>
                    </h2>
                    <div class="post-meta">
                      By&nbsp;<a href="#">Mark Stone</a>&nbsp;| <%= blog.created_at.strftime('%FT%T') %> | 3 Comments
                    </div>
                  </div>
                  <div class="post-entry">
                    <p>
                      <%= blog.description %>
                    </p>
                  </div>
                  <div class="post-more">
                    <%= link_to blog, class: 'more-link' do %>
                      Read more
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
          <div class="pagination font-alt">
            <a href="#"><i class="fa fa-angle-left"></i></a><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#"><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <%= render 'blogs/shared/right_sidebar' %>
      </div>
    </div>
  </section>
  <%= render 'shared/footer' %>
</div>
<div class="scroll-up">
  <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
</div>
