<section class="module" id="registration">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Sign Up</h2>
        <div class="module-subtitle font-serif"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), id: 'contactForm') do |f| %>

          <div class="alert alert-danger" role="alert">
            <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button><i class="fa fa-exclamation-triangle"></i>
             <%= devise_error_messages! %>
          </div>

          <!--<form id="contactForm" role="form" method="post" action="php/contact.php">-->
            <div class="form-group">
              <%= f.label :name, class: 'sr-only' %><br/>
              <%= f.text_field :name, class: 'form-control', :placeholder => 'Your Name*' %>
              <p class="help-block text-danger"></p>
            </div>

            <div class="form-group">
              <%= f.label :email, class: 'sr-only' %><br/>
              <%= f.email_field :email, class: 'form-control', :placeholder => 'Your Email*' %>
              <p class="help-block text-danger"></p>
            </div>

            <!--<div class="form-group">-->
          <!--<%#= f.label :phone, class: 'sr-only' %><br/>-->
              <!--<%#= f.text_field :phone, class: 'form-control', :placeholder => 'Your Phone Number*' %>-->
              <!--<p class="help-block text-danger"></p>-->
            <!--</div>-->

            <div class="form-group">
              <%= f.label :password, class: 'sr-only' %><br/>
              <%= f.password_field :password, class: 'form-control', autocomplete: 'off', :placeholder => 'Password' %>
              <% if @minimum_password_length %>
                <em>Password (<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <p class="help-block text-danger"></p>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, class: 'sr-only' %><br/>
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off', :placeholder => 'Confirm Password' %>
              <p class="help-block text-danger"></p>
            </div>


            <div class="text-center form-group" style="padding-top: 15px">
              <%= f.submit 'Submit', class: 'btn btn-block btn-round btn-d', id: 'cfsubmit' %>
              <!--<button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Submit</button>-->
            </div>
          <!--</form>-->
        <% end %>

        <div class="ajax-response font-alt" id="contactFormResponse"></div>
        <div class="form-group">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
