<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<%= root_path %>" data-turbolinks="false">Light Blog</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="<%= root_path %>" data-turbolinks="false">Home</a>
              </li>
              <% if user_signed_in? %>
                <li>
                  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                </li>
              <% else %>
                <li><a href="<%= new_user_session_path %>">Sign In</a></li>
                <li><a href="<%= new_user_registration_path %>">Registration</a></li>
                <li><a href="<%= blogs_path %>" data-turbolinks="false">Blog</a></li>
              <% end %>
              <!--<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Headers</a>-->
                <!--<ul class="dropdown-menu">-->
                  <!--<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Static Image Header</a>-->
                    <!--<ul class="dropdown-menu">-->
                      <!--<li><a href="index_mp_fullscreen_static.html">Fulscreen</a></li>-->
                      <!--<li><a href="index_mp_classic_static.html">Classic</a></li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Flexslider Header</a>-->
                    <!--<ul class="dropdown-menu">-->
                      <!--<li><a href="index_mp_fullscreen_flexslider.html">Fulscreen</a></li>-->
                      <!--<li><a href="index_mp_classic_flexslider.html">Classic</a></li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Video Background Header</a>-->
                    <!--<ul class="dropdown-menu">-->
                      <!--<li><a href="index_mp_fullscreen_video_background.html">Fulscreen</a></li>-->
                      <!--<li><a href="index_mp_classic_video_background.html">Classic</a></li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Text Rotator Header</a>-->
                    <!--<ul class="dropdown-menu">-->
                      <!--<li><a href="index_mp_fullscreen_text_rotator.html">Fulscreen</a></li>-->
                      <!--<li><a href="index_mp_classic_text_rotator.html">Classic</a></li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Gradient Overlay Header</a>-->
                    <!--<ul class="dropdown-menu">-->
                      <!--<li><a href="index_mp_fullscreen_gradient_overlay.html">Fulscreen</a></li>-->
                      <!--<li><a href="index_mp_classic_gradient_overlay.html">Classic</a></li>-->
                    <!--</ul>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</li>-->

              <!--li.dropdown.navbar-cart-->
              <!--    a.dropdown-toggle(href='#', data-toggle='dropdown')-->
              <!--        span.icon-basket-->
              <!--        |-->
              <!--        span.cart-item-number 2-->
              <!--    ul.dropdown-menu.cart-list(role='menu')-->
              <!--        li-->
              <!--            .navbar-cart-item.clearfix-->
              <!--                .navbar-cart-img-->
              <!--                    a(href='#')-->
              <!--                        img(src='assets/images/shop/product-9.jpg', alt='')-->
              <!--                .navbar-cart-title-->
              <!--                    a(href='#') Short striped sweater-->
              <!--                    |-->
              <!--                    span.cart-amount 2 &times; $119.00-->
              <!--                    br-->
              <!--                    |-->
              <!--                    strong.cart-amount $238.00-->
              <!--        li-->
              <!--            .navbar-cart-item.clearfix-->
              <!--                .navbar-cart-img-->
              <!--                    a(href='#')-->
              <!--                        img(src='assets/images/shop/product-10.jpg', alt='')-->
              <!--                .navbar-cart-title-->
              <!--                    a(href='#') Colored jewel rings-->
              <!--                    |-->
              <!--                    span.cart-amount 2 &times; $119.00-->
              <!--                    br-->
              <!--                    |-->
              <!--                    strong.cart-amount $238.00-->
              <!--        li-->
              <!--            .clearfix-->
              <!--                .cart-sub-totle-->
              <!--                    strong Total: $476.00-->
              <!--        li-->
              <!--            .clearfix-->
              <!--                a.btn.btn-block.btn-round.btn-font-w(type='submit') Checkout-->
              <!--li.dropdown-->
              <!--    a.dropdown-toggle(href='#', data-toggle='dropdown') Search-->
              <!--    ul.dropdown-menu(role='menu')-->
              <!--        li-->
              <!--            .dropdown-search-->
              <!--                form(role='form')-->
              <!--                    input.form-control(type='text', placeholder='Search...')-->
              <!--                    |-->
              <!--                    button.search-btn(type='submit')-->
              <!--                        i.fa.fa-search-->

            </ul>
          </div>
        </div>
      </nav>