<!DOCTYPE html>
<html>
<head>
  <title>Light Blog | Ruby on Rails Simple Blogging Application</title>

  <!--<link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">-->
  <!--<link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">-->
  <!--<link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">-->
  <!--<link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">-->
  <!--<link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">-->
  <!--<link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">-->
  <!--<link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">-->
  <!--<link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">-->
  <!--<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">-->
  <!--<link rel="icon" type="image/png" sizes="192x192" href="favicons/android-icon-192x192.png">-->
  <!--<link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">-->
  <!--<link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">-->
  <!--<link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">-->

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Google fonts added -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">

<div class="main">

  <!-- Page loading -->
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>

  <!-- Main Nav menu -->
  <%= render 'shared/nav' %>

  <!-- Notification -->
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button><i class="fa fa-exclamation-triangle"></i>
      <%= notice %>
    </div>
  <% end %>

  <%= yield %>

</div>

</body>
</html>
